 *, *::before *::after {
     box-sizing: border-box;
     font-family:'Times New Roman';
     font-weight: normal;
 }
 body{
     padding: 0;
     margin: 0;
     background:linear-gradient(to right,rgb(27, 109, 202), rgb(10, 233, 58));
 }
 .calculator-grid{
     display:grid;
     justify-content: center;
     align-content: center;
     min-height: 100vh;
     grid-template-columns: repeat(4, 100px);
     grid-template-rows: minmax(120px, auto) repeat(5, 100px);
 }
 button{
     cursor:pointer;
     font-size:2rem;
     border:1px solid rgb(255, 255, 255);
     outline: none;
     background-color: rgba(255,255,255, .75);
 }
 button:hover{
     background-color: rgba(255,255,255, .90);
    
    }
    .span-two{
        grid-column: span 2;
    }
    .output{
        grid-column: 1/-1;
        background-color: rgba(0, 0, 0, .75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;

    }
    .previous-operand{
        color:rgba(255,255,255, .75);
        font-size: 1.5rem;
    }
    .current-operand{
        color: white;
        font-size: 2.5rem;
    }